:root {
  --primary-text: #212121;
  --secondary-text: #757575;

  --main-bg-color: #fff;
  --navbar-bg-color: rgb(226, 226, 226);

  --code-bg-color: #282c34;
  --code-main-color: #f4f4f5;
  --code-const-color: #c5a5c5;
  --code-method-color: #5b84ad;
  --code-comment-color: #808184;
  --code-in-text-color: #eee2ae;

  --note-bg-color: #fff7d0;
  --note-border-color: #ffe564;

  --font-main: "Yantramanav", sans-serif;
  --font-header: "Ubuntu Mono", monospace;
}

body {
  color: var(--secondary-text);
  background-color: var(--main-bg-color);
  font-family: var(--font-main);
  font-size: 1.25rem;
  margin: 0;
}

#main-doc {
  width: 65%;
  margin-left: 30%;
  margin-right: 5%;
}

@media (max-width: 600px) {
  body {
    font-size: 0.7rem;
  }
  #main-doc {
    width: 95%;
    margin: 0 auto;
  }
}

/*============================
DOC ARTICLE
=============================*/

.section-header {
  color: var(--primary-text);
  font-family: var(--font-header);
  font-size: 1rem;
  width: 90%;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
}

code {
  color: var(--code-main-color);
  background-color: var(--code-bg-color);
  display: block;
  padding: 16px;
  margin: 10px 19px;
  border-radius: 5px;
}

.code__const {
  color: var(--code-const-color);
}

.code__method {
  color: var(--code-method-color);
}

.code__comment {
  color: var(--code-comment-color);
}

.code_in_text {
  background-color: var(--code-in-text-color);
  padding: 0 3px;
}

p {
  line-height: 1.7;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

ul {
  width: 90%;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
}

ul li {
  margin: 5px 0;
}

.note {
  background-color: var(--note-bg-color);
  line-height: 1.7;
  padding: 20px 45px 20px 26px;
  border-left: 9px solid var(--note-border-color);
}

.note h3 {
  color: var(--primary-text);
  margin: 0;
}

.subheading {
  width: 90%;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
}

/*============================
NAVBAR
=============================*/

#navbar {
  background-color: var(--navbar-bg-color);
  position: fixed;
  height: 100vh;
  width: 25%;
  top: 0;
  padding-left: 10px;
}

.navbar-header {
  font-size: 1rem;
  margin-top: 3rem;
}

.nav-menu,
.nav-menu-drawer {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

.nav-item {
  margin: 0;
  cursor: pointer;
}

.nav-item:hover {
  background-color: palevioletred;
}

.nav-item:hover .nav-link,
.nav-item:hover .nav-link-drawer {
  color: #fff;
}

.nav-link,
.nav-link-drawer {
  color: var(--primary-text);
  display: inline-block;
  text-decoration: none;
  width: 100%;
  padding: 0.4rem 0;
}

#nav-menu-icon {
  display: none;
  padding: 10px;
  cursor: pointer;
}

#nav-drawer {
  display: none;
  background-color: var(--navbar-bg-color);
  position: fixed;
  width: 100px;
  top: 32px;
  right: -200px;
  transition: right 0.2s ease-in-out;
}

#nav-drawer.open {
  right: 0;
}

.nav-menu-drawer {
  width: 100%;
  margin: 0;
}

.nav-link-drawer {
  padding-left: 10px;
}

@media (max-width: 600px) {
  #navbar {
    /* background-color: tomato; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    width: 100%;
    padding-left: 0;
  }
  .navbar-header {
    font-size: 0.8rem;
    margin-left: 10px;
    margin-top: 0;
  }
  .nav-menu {
    display: none;
  }
  #nav-menu-icon {
    display: inline-block;
  }
  #nav-drawer {
    display: block;
  }
}
